<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JSP06_Filter</display-name>
  <listener>
    <listener-class>com.listener.Listener2</listener-class>
  </listener>
  <context-param>
    <param-name>hello</param-name>
    <param-value>world</param-value>
  </context-param>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>com.filter.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/Filter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter1</filter-name>
    <filter-class>com.filter.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/Filter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ErrorTestServlet</display-name>
    <servlet-name>ErrorTestServlet</servlet-name>
    <servlet-class>com.servlet.ErrorTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorTestServlet</servlet-name>
    <url-pattern>/ErrorTestServlet</url-pattern>
  </servlet-mapping>
</web-app>